<%= simple_form_for @patient do |f| %>

  <!--Error while save without name-->
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
      <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--Content of the form-->
  <!-- <%= f.input :first_name, label: "First name", placeholder: "Enter first name" %>
  <%= f.input :last_name, label: "Last name", placeholder: "Enter last name" %> -->
  <%= f.input :name, label: "Full name", placeholder: "Enter full name" %> 
  <%= f.input :date_of_birth, label: "Date of birth" %>
  <%= f.input :address, label: "Address" %>
  <%= f.input :phone_no, label: "Contact number" %>
  <%= f.input :infection, label: "Infection" %>
  <%= f.input :injury, label: "Injury" %>
  <%= f.button :submit %>

<% end %>
