<% if user_signed_in? %>
  <div class="col-md-2 col-md-offset-1">
    <%= link_to "Latest", recent_patients_path, class: "link" %>
    <%= link_to "Dangerous", dangerous_patients_path, class: "link" %>
    <%= link_to "Well", well_patients_path, class: "link" %>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <!--The content of the patient list-->
    <h1>Patient List</h1>

    <!-- <table id="patients"class="table table-stripped table-bordered table-hover"> -->
    <table role='datatable' class="table table-stripped table-bordered table-hover">
    <thead>
       <tr>
         <th>Name</th>
         <th>Date of birth</th>
         <th>Address</th>
         <th>Phone</th>
         <th>Infection</th>
         <th>Injury</th>
         <th>Consultation</th>
         <th colspan="8"></th>
       </tr>
    </thead>
    <tbody>
       <% @patients.each do |patient| %>
         <tr>
           <td><%= link_to patient.name, patient %></td>
           <td><%= patient.date_of_birth %></td>
           <td><%= patient.address %></td>
           <td><%= patient.phone_no %></td>
           <td><%= patient.infection %></td>
           <td><%= patient.injury %></td>
           <td><%= patient.consultations_count %></td>
           <td><%= link_to 'Show', patient_path(patient) %></td>
           <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
           <td><%= link_to 'Destroy', patient_path(patient), method: :delete, data: {confirm: 'Are you sure?'} %></td>
         </tr>
       <% end %>
     </tbody>
    </table>

  </div>

<% else %>
  <%= render 'layouts/welcome_page' %>

<% end %>
