<!--The patient table-->
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading text-success text-center"><h1>Individual Record:</h1></div>
    <div class="panel-body">

      <!--Link to the partial code-->
      <%= render 'table' %></br>
      <%= link_to 'Edit', edit_patient_path(@patient) %>
      <%= link_to 'Back', patients_path %>

    </div>
  </div>
</div>

<!--The consultation form-->
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading text-primary text-center"><h1>Add a consultation:</h1></div>
    <div class="panel-body">

      <!--Link to the partial code-->
      <%= render 'consultations/form' %></br>
      <%= link_to 'Back', patients_path %>

    </div>
  </div>
</div>
